.login-form {
    background-color: rgba(119, 136, 153, 0.377);
    border: 1 solid;
    border-radius: 15px;
    padding: 30px;
    margin:0 25% 0 25%;
    width:50%;
}

.body-login-page {
    background-color: cadetblue;
    /* height: 90% !important; */
     height: 95vh;
}



html, body, main {
    /* height:100vh; */
}


.py-4 {
    padding-top: 0px;
    padding-bottom: 0;
    padding: 0;
}

.navbar-brand {
    height:5vh;
}